*{
    margin:0;
    padding: 0;
    outline: mone;
    box-sizing: border-box;
    font-family: Avenir-Next,sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: teal;
}
/* this is the code for pop up of the div */


#container-login{
    /* this will make div invisible */
    display: none;
    opacity: 0;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -200px;
    transform: translate(-50%,-50%) scale(1.25);
    /* border: 1px solid red; */
    height: 530px;
    width: 350px;
    padding: 35px 35px 10px 35px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    /* transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms; */

    margin-top: 80px;
    /* overflow:hidden; */
    
}
#container-login.active {
    top: 20%;
    display: block;
    opacity: 1;
    transform: translate(250%, -25%) scale(1);
    /* transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms; */
}

#container-login .close-btn{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 22px;
    cursor: pointer;
    clip: auto;
    color: #f39;
}
#container-login #text{
    font-size:32px ;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}
#container-login #form-outer{
    width: 100%;
    /* overflow: hidden; */
}

#container-login form{
    margin-top: -20px;
    display: none;
}
form.active{
    display: block !important
}
#container-login form .data{
    /* height: 40px; */
    width: 100%;
    margin: 10px 0; 
}
/* .page{
    display: none;
}
.page.active{
    display: block;
} */

form .page .data label{
    font-size: 14px;
    color: #656565;
    letter-spacing: .3px;
}
form .page .data input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: 2px solid #ea0020;
    font-size: .77778rem;
    color: #000;
}
form .btn {
    margin: 20px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
form .btn #inner{
    
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background-color: #f39;
}
form .btn button{
    
    height: 100%;
    width: 100%;
    background:none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}
form .btn #social1{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background-color: #4285f4;  
}
form .btn #social2{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background-color: #3b5998;
}
form #txtSize button{
    font-size: 14px;
    font-weight: 700;
}

#condition{
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}
#condition>span>a{
    color: #ec008c;
}

/* for multiple section */
#form-outer{
    width: 100%;
}
#form-outer form{
    display: flex;
    width: 400%;
    gap: 50px;
}
#form-outer form .page{
width: 25%;

}
#vry{
 margin-bottom: 0px;
}
#vry>p{
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}
#vry>img{
    height: 150px;
    width: 100%;
    
}
#text{
    margin-bottom: 30px;
}

#condition-label{
    font-size: 14px;
    padding-top: 10px;
}
#vtext{
    font-size:32px ;
    font-weight: 800;
    text-align: center;
    margin-top: 5px;
}