.menubar{
    position: relative;
    display: inline block;
    /* float: right; */
}
.seconddrop{
    display: none;
    position: absolute;
    width: 15%;
    z-index: 1;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 10px;
    border-radius: 10px;
    right: 1%; 
}
.dropmenu:hover .seconddrop{  
    display: grid;
    margin: auto;
    grid-template: auto/repeat(1,auto);
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    text-align: center;
}
.dropmenu:hover:hover .menubar{
    width: 100%;
    background-color: transparent;
}
.seconddrop>a>img{
    width: 20%;
    height: 20px;
}
.seconddrop>a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
}
.seconddrop>hr{
    width: 120px;
}
#navbag{
    width: 95%;
    display: grid;
    grid-template: auto/repeat(2,auto);
    justify-content: space-between;
    text-align: center;
}
#navbag>div:first-child>a>img{
    width: 40%;
}
#navbag2{
    width: 100%;
    display: flex;
    gap: 30%;
    background-color: #0092df;
    padding: 10px 0px;
    color: white;
}
#navbag2>div{
    display: flex;
    gap: 20px;
}
#navbag2>div>div{
    display: flex;
    gap: 10px;
    border-bottom: 3px solid #ff3399;
}
#navbag2>div>div:last-child{
    border-bottom: 0ch;
    color: grey;
}
#navbag2>h2{
    margin-left: 10%;
}
#navbag2>div>div>h3{
border-radius: 50%;
background-color: #ff3399;
padding: 2.5px 8px;
cursor: pointer;
}
.cartpopup1 {
    position: absolute;
    transform: translate(-25%, -25%);
    top: -50%;
    left: -90%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 40%;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}
.cartpopup1.active {
    top: 30%;
    opacity: 1;
    transform: translate(250%, -25%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.close_button1 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.close_button1+div{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.close_button1+div>input{
    padding: 10px;
    border: 0ch;
}
.close_button1+div>img{
    cursor: pointer;

}
#navbag3{
    width: 100%;
    display: grid;
    grid-template: auto/repeat(2,auto);
    justify-content: space-around;
    gap: 10px;
}
#leftnavbag3{
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: space-around;
    gap: 10px;
}
#leftnavbag3>div:first-child{
    display: grid;
    grid-template: auto/repeat(2,auto);
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
#leftnavbag3>div:first-child>div:first-child{
display: flex;
gap: 5px;
}
.leftfirstrow{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}
.mybagitem{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    text-align: center;
    line-height: 20px;

}

.mybagitem>div:first-child>img{
width: 40%;
}
.leftfirstrow>select{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftfirstrow>div:last-child{
    display: flex;
    gap: 2px;
}
.mybagitem>div:nth-child(2)>div{
    display: flex;
    margin: auto;
    justify-content: center;
}
.mybagitem+div{
    display: flex;
    margin: auto;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}
.mybagitem+div>input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
}
#leftsecondrow{
    text-align: center;
    cursor: pointer;
}
#rightnavbag3{
    width: 100%;
    height: 400px;
    /* margin: auto; */
    display: grid;
    grid-template: repeat(3,auto);
    justify-content:space-around;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}
#firstrightarrrow{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f2f2f2;
    padding: 0px 20px;
}
#firstrightarrrow>img{
    width: 20%;
    height: 30px;
}
#secondrightarrow{
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f2f2f2;
    padding: 10px 20px;
}
#secondrightarrow>div{
width: 100%;
display: grid;
grid-template: auto/repeat(2,auto);
justify-content: space-around;
gap: 10px;
}
#secondrightarrow>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
#secondrightarrow>div>div:nth-child(3){
    color: red;
}
#secondrightarrow>div>div:nth-child(4){
    color: red;
}
#thirdrightarrow{
    width: 90%;
display: grid;
margin: auto;
gap: 20px;
}
#thirdrightarrow>a{
text-decoration: none;
color: black;
font-weight: bolder;
padding: 10px 20px;
background-color: #ff3399;
color: white;
}
.cartpopup2 {
    position: absolute;
    transform: translate(-25%, -25%);
    top: -150%;
    left: -85%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 40%;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /* text-align: center; */
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}
.cartpopup2.active {
    top: 40%;
    opacity: 1;
    z-index: 1;
    transform: translate(250%, -25%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.close_button2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.cartpopup2>div:nth-child(3){
    display: grid;
    justify-content: center;
    gap: 10px;
}
.cartpopup2>h1{
   text-align: center;
}
.cartpopup2>div>input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}
.cartpopup2>div>div>div>input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}
.cartpopup2>div:nth-child(3)>div{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(2,auto)/repeat(2,auto);
    justify-content:center;
    align-items: center;
    gap: 10px;
   
}
.cartpopup2>div:last-child{
    width: 10%;
    margin: auto;
    background-color: #ff3399;
    margin-top: 5%;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
}

#paynavbag4{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: auto/repeat(2,auto);
    justify-content: space-around;
    margin-top: 10%;
    padding: 20px 0px;
    background-color: rgb(231, 224, 224);
}
#paynavbag4>div:first-child{
    width: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#paynavbag4>div:last-child{
    width: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#paynavbag4>div:last-child>a{
    text-decoration: none;
    color: black;
}
#paynavbag4>div:last-child>p{
    font-size: 13px;
}