.slide-box{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    
}
.slide-box::before{
    display: block;
}
.slide-box>a>img{
    width: 100%;
   
}
hr{
    width: 80%;
    margin: auto;
    color: grey;
  
}
#homebody1{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    justify-content: center;
}
#homebody1>a{
    text-decoration: none;
    color:white;
    background-color: black;
    width: 10%;
    padding: 20px;
    
}
#homebody2{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#subhomebody2{
    width: 100%;
    display: grid;
    grid-template:auto/repeat(2,auto);
    justify-content: space-between;
    margin-top: 20px;
}
#homebody2left{
    width: 50%;
}
#homebody3>div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
#homebody3>div>a>img{
    width: 100%;
}
#homebody4{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#homebody4>a>img{
    width: 100%;
}
#homebody5{
    width: 80%;
    margin: auto;
    text-align: center;
}
#homebody6{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#homebody6>div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}
#homebody6>div>a>img{
    width: 100%;
}
#homebody7{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
#homebody7>div{
    width: 100%;
    display: grid;
    grid-template: repeat(2,auto)/repeat(3,auto);
    justify-content: space-around;
    gap: 15px;
}
#homebody7>div>a>img{
    width: 100%;
}
#homebody8{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
#homebody8>div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
    line-height: 30px;
}
#homebody8>div>div>a>img{
    width: 100%;
}
#homebody8>div>div>h2{
    margin-top: 10px;
}
#homebody8>img{
    width: 100%;
}
#homebody7>img{
    width: 100%;
}
#homebody6>img{
    width: 100%;
}
#homebody5>img{
    width: 100%;
}
#homebody3>img{
    width: 100%;
}
#homebody2>img{
    width: 100%;
}