body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-family: ave;
}

#navbar {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    /* border: 1px solid red; */
}

#navtop1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 224, 224);
}

#navtop {
    width: 80%;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template: auto/repeat(5, auto);
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;

}

#navtop>div:nth-child(3)>p {
    font-weight: 12px;
}

.gap {
    font-size: 20px;
    color: rgb(213, 207, 207);
    font-weight: 40px;
    margin-left: 25px;
}

.firstnav>div>a>img {
    width: 60%;
    height: 30px;
    margin-right: 10px;
}

#navtop>div:nth-child(1) {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;

}

#navtop>div:nth-child(1)>div:first-child {
    margin-right: 10px;
    cursor: pointer;
}

#navtop>div:nth-child(1)>div:last-child>a {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.starlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.starlogo>img {
    width: 8%;
}

#navtop>div:nth-child(3) {
    margin-top: 10%;
}

.firstnav {
    display: grid;
    grid-template: auto/repeat(5, 50px);
}

.firstnav>div {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.firstnav>div>a {
    display: flex;
    text-decoration: none;
    color: black;
}

#navtop>div:first-child>div:first-child>a>img {
    width: 80%;
}

#navtop>div:first-child>div:last-child>a>img {
    width: 20%;
    height: 20px;
}

#navtop>div:first-child>div:last-child>a>p {
    width: 100%;
}

#midnav {
    width: 90%;
    /* border: 1px solid; */
    margin: auto;
    display: grid;
    grid-template: auto/repeat(3, auto);
    justify-content: space-around;
}

#homelogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homelogo>a>img {
    width: 60%;
}

#midnav>div:nth-child(1) {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0px 10px;
    margin-top: 10%;
    border-radius: 10px;
}

#midnav>div:nth-child(1)>img {
    width: 50%;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#midnav>div:nth-child(1)>input {
    border: 0ch;
    padding: 10px;
}

#midnav>div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#midnav>div:nth-child(3)>div>a>img {
    width: 60%;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#midnav>div:nth-child(3)>div:nth-child(3)>img {
    width: 60%;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#midnav>div:nth-child(3)>div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff74b9;
}

#midnav>div:nth-child(3)>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#midnav>div:nth-child(3)>div:last-child>img {
    width: 50%;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#midnav>div:nth-child(2) {
    cursor: pointer;
}

#bottomnav {
    width: 80%;
    margin: auto;
    display: grid;
    position: sticky;
    z-index: 10;
    grid-template: auto/repeat(7, auto);
    justify-content: space-around;
    gap: 10px;
}


#bottomnav>div>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.menubar {
    position: relative;
    display: inline block;
    float: right;
}

.menubar>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.firstdrop {

    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px 0px;
    border-radius: 10px;
    left: 0;

}

.firstdrop a {
    display: block;
}

.firstdrop a:hover {
    color: black;
}

.dropmenu:hover .firstdrop {

    display: grid;
    grid-template: auto/repeat(4, auto);
    justify-content: space-around;
    gap: 20px;
    background-color: white;
}

.dropmenu:hover:hover .menubar {
    width: 100%;
    background-color: transparent;
}
.dropmenu a,
p:hover {
    color: hotpink;
}

.seconddrop>a,
p {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.seconddrop>p:first-child {
    font-size: 16px;
    font-weight: bolder;
}

.seconddrop>a:first-child {
    font-size: 16px;
    font-weight: bolder;
}

#footer1 {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding: 20px 0px;
    background-color: rgb(233, 230, 230);
}

#footer1>div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer1>div>input {
    width: 25%;
    padding: 20px 10px;
    font-weight: bold;
    border: 0ch;
}

#footer1>div>button {
    width: 10%;
    padding: 20px 10px;
    font-weight: bold;
    border: 0ch;
    color: white;
    background-color: black;
    cursor: pointer;
}

#footer2 {
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template: auto/auto;
    gap: 10px;
    color: rgb(95, 92, 92);
}

#footer2>p {
    font-size: 12px;
    line-height: 20px;
}

#footer3 {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template: auto/auto;
    justify-content: space-around;
    gap: 40px;
}

#sub1footer3 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: auto/repeat(3, auto);
    justify-content: space-around;
    gap: 20px;
}

#sub1footer3>a {
    text-decoration: none;
    color: black;
}

#sub1footer3>a:hover {
    color: rgb(244, 43, 43);
}

#sub2footer3 {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template: auto/repeat(4, auto);
    justify-content: space-around;
}

#sub2footer3>div>a>img {
    width: 100%;
    height: 40px;
    cursor: pointer;
}

#sub3footer3 {
    width: 60%;
    margin: auto;
    font-size: 12px;
}

#sub3footer3>a {
    text-decoration: none;
    color: black;
}

#sub3footer3>a:hover {
    color: rgb(244, 43, 43);
}

#footer4 {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#sub1footer4>div {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template: auto/repeat(20, 50px);
    row-gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    align-items: center;
}

#sub1footer4>div>a {
    text-decoration: none;
    color: black;

}

#sub1footer4>div>a:hover {
    color: rgb(244, 43, 43);
}

.sub2footer4 {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.sub2footer4>div {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}

.sub2footer4>div>a {
    text-decoration: none;
    color: black;
}

.sub2footer4>div>a:hover {
    color: rgb(244, 43, 43);
}

#topbutton {
    width: 12%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #abc72c;
    padding: 10px 10px;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    scroll-behavior: smooth;
}

#topbutton>h1 {
    margin-top: 6%;
}

#backtop {
    text-decoration: none;
    color: black;
}

.cartpopup1 {
    position: absolute;
    transform: translate(-25%, -25%);
    top: -150%;
    left: 20%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 20%;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.cartpopup1.active {
    top: 30%;
    opacity: 1;
    z-index: 1;
    transform: translate(250%, -25%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.close_button1 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 18px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 50%;
}

#button>a>button {
    border-radius: 200px;
    background-color: white;
    padding: 11px 40px;
    font-weight: bold;
    cursor: pointer;
}

.cartpopup2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: -150%;
    left: 78%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 30%;
    height: auto;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.cartpopup2.active {
    top: 160%;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.close_button2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 50%;
}


#button {
    display: grid;
    justify-content: center;
    row-gap: 10px;
    margin-top: 10%;
}

#button>a>button {
    width: 100%;
    border-radius: 200px;
    background-color: white;
    padding: 11px 40px;
    font-weight: bold;
    cursor: pointer;
}

#button>button:hover {
    background-color: black;
    color: white;
}
.loginpopup1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: -150%;
    left: 85%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 20%;
    height: auto;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.loginpopup1.active {
    top: 52%;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}
.close_button3 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 16px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 55%;
}
.loginpopup1>h2{
    text-align: center;
}
.loginpopup1>div:nth-child(3){
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(2,auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
}
.loginpopup1>div:nth-child(3)>div:nth-child(1)>input{
   width: 100%;
   margin: auto;
    padding: 10px;
    border: 2px solid #eb0e2c;
    margin-top: 2%;
}
.loginpopup1>div:nth-child(3)>div:nth-child(2){
    text-align: center;
padding: 10px;
background-color: #ff74b9;
color: white;
font-size: bolder;
cursor: pointer;
}
.loginpopup1>div:nth-child(3)>div:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.loginpopup1>div:nth-child(3)>div:nth-child(4){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #4285f4;
    cursor: pointer;
    color: white;
    padding: 10px;
}
.loginpopup1>div:nth-child(3)>div:nth-child(4)>img{
    width: 10%;
}
.loginpopup1>div:nth-child(3)>div:nth-child(5){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #3b5998;
    cursor: pointer;
    color: white;
    padding: 10px;
}
.loginpopup1>div:nth-child(3)>div:nth-child(5)>img{
    width: 10%;
}
.loginpopup1>div:nth-child(3)>div:nth-child(6){
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
}
.otppopup1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: -150%;
    left: 83%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 25%;
    height: auto;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.otppopup1.active {
    top: 62%;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}
.close_button4 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 16px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 55%;
}
.otppopup1>h2{
    text-align: center;
}
.otppopup1>div:nth-child(3){
    width: 100%;
    margin: auto;
    display: grid;
    grid-template:repeat(4,auto);
    justify-content: center;
    gap: 10px;
}
.otppopup1>div:nth-child(3)>div:nth-child(1)>img{
    width: 100%;
}
#otpsent{
    width: 100%;
    text-align: center;
}
.otppopup1>div:nth-child(3)>div:nth-child(3){
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.otppopup1>div:nth-child(3)>div:nth-child(3)>input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #eb0e2c;
    border-radius: 10px;
}
.otppopup1>div:nth-child(3)>div:nth-child(4){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.otppopup1>div:nth-child(3)>div:nth-child(4)>p{
    color: #ff74b9;
    cursor: pointer;
}
.otppopup1>div:nth-child(3)>div:nth-child(4)>div{
    display: flex;
    gap: 4px;
}
.otppopup1>div:nth-child(3)>div:nth-child(4)>div>p:last-child{
    color: #ff74b9;
    cursor: pointer;
}
#submitotp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff74b9;
    color: white;
    font-weight: bolder;
    padding: 10px 0px;
    cursor: pointer;
}










.signuppopup1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: -150%;
    left: 85%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 20%;
    height: auto;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}

.signuppopup1.active {
    top: 52%;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

}
.close_button5 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 16px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 55%;
}