 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* font-family: Arial, Helvetica, sans-serif; */
     word-spacing: 0.5px;
 }

 #main {

     width: 80%;
     margin: auto;
     margin-top: 50px;
     /* border: 1px solid red; */
 }

 #productDetail {
     display: flex;
     margin: 5px;
     padding: 20px;
     /* border: 3px solid green; */
     gap: 60px;
 }

 #sidePanelImage {
     width: 10%;
     height: fit-content;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* border: 1px solid black; */
 }

 #sidePanelImage>img {
     width: 100%;
 }

 #middleImage {
     width: 40%;
     height: fit-content;
     padding: 20px;
     /* border: 1px solid violet; */
 }

 #middleImage>img {
     width: 100%;
 }

 #rightPanelDetail {
     width: 40%;
     padding: 10px;
     /* border: 1px solid red; */
 }

 #rightPanelDetail p,
 h4 {
     font-size: 16px;
     line-height: 25px;
 }

 #ratingBlock {
     display: flex;
     gap: 10px;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     padding: 0;
     margin: 0px 0px;
 }

 #ratingBlock>p {
     font-size: 15px;
 }

 .ratingStar {
     width: 12px;
 }

 #priceBlock {
     display: flex;
     gap: 10px;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     padding: 0;
     margin: 0px 0px;
 }

 #priceBlock>p:last-child {
     color: red;
     font-weight: 600;
     font-size: 18px;
 }

 .bold {
     font-weight: 700;
     font-size: 14px;
     line-height: 13px;
 }

 #offerBlock {
     display: flex;
     gap: 5px;
 }

 #offerDetail p {
     font-size: 14px;
 }

 #size {
     border: 1px solid black;
     padding: 8px;
     width: fit-content;
 }

 #cautionDiv {
     border: 2px solid #f49233;
     display: flex;
     gap: 10px;
     justify-content: start;
     align-items: flex-start;
     padding: 15px;
 }

 #cautionDiv>img {
     width: 40px;
     padding-top: 10px;
     padding-left: 10px;
 }

 #cautionDiv>div p {
     line-height: 25px;
 }

 #addToBag {
     background-color: #ff3399;
     color: white;
     border: none;
     width: 100%;
     padding: 15px;
     font-weight: 600;
     font-size: 17px;
 }

 #heartImage {
     width: 20px;
     border: 2px solid #ff3399;
     border-radius: 50%;
     padding: 10px;
 }

 #shareImage {
     width: 20px;
     border: 2px solid #31a5e5;
     border-radius: 50%;
     padding: 10px;
 }

 #shareAndFav {
     margin: 15px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;

 }

 #shareAndFav>div p {
     font-size: 10px;
     font-weight: 700;
     line-height: 20px;
 }

 #shareAndFav>div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #pincode {
     width: 100%;
     display: flex;
     margin-top: 10px;
     border: 1px solid red;
     gap: 10px;
 }

 #pincode>button {
     padding: 10px 25px;
     font-weight: 900;
     color: #c1c1c1;
     background-color: white;

 }

 #pincode>input {
     width: 50%;
     outline: none;
     background-color: #f3f3f3;
     font-size: 15px;
     padding: 10px;
 }

 #bottomDetail {
     background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("https://cdn15.nnnow.com/web-images/large/styles/S5CM4NZ214R/1533201155008/1.jpg");
     height: 400px;
     /* border: 2px solid red; */
     justify-content: center;
     margin: 100px 0;
     position: relative;
     opacity: 0.9;
 }

 #bottomDetail>img {
     width: 100%;
     margin: 0;
     object-fit: cover;
 }

 #bottomDetailNavbar {
     /* border: 1px solid red; */
     margin: auto;
     gap: 10px;
     width: 80%;
     position: absolute;
     top: 70px;
     left: 200px;
     display: flex;
     justify-content: flex-start;
 }

 #bottomDetailNavbar p {
     /* background-color: black;
     color: white; */
     padding: 15px 25px;
 }

 #finerDetails {
     background-color: white;
     /* border: 1px solid purple; */
     width: 75%;
     height: 100px;
     position: absolute;
     left: 200px;
     top: 115px;
     z-index: 1;
     overflow-y: auto;
     margin: auto;
     padding: 47px;

 }


 .commonBottomDiv {
     color: white;
     background-color: black;
 }

 .afterClickBottomDiv {
     color: black;
     background-color: white;
 }

 #sephoraCollectionDetails {
     background-color: white;
     /* border: 1px solid purple; */
     width: 75%;
     height: 100px;
     position: absolute;
     left: 200px;
     top: 115px;
     z-index: 0;
     overflow-y: auto;
     margin: auto;
     padding: 47px;

 }

 #returnAndExchangeDetails {
     background-color: white;
     /* border: 1px solid purple; */
     width: 75%;
     height: 100px;
     position: absolute;
     left: 200px;
     top: 115px;
     z-index: 0;
     overflow-y: auto;
     margin: auto;
     padding: 47px;

 }